

body 
{
    font-family: 'Source Sans Pro', sans-serif;
}

p
{
    font-family: 'Source Serif Pro', serif;
}

ul
{
    font-family: 'Source Serif Pro', serif;
}

.code 
{
    font-family: 'Source Code Pro', monospace;
}
